**/__pycache__/
**/*.egg-info/
**/download/**/*.fits
**/.ipynb_checkpoints/
notebook_paper/download
notebook_paper/load_input
**/nf2_pinn/*.npy
**/nf2_pinn/*.pt
**/test_model/**/*.pt
**/test_model/**/*.dat
notebook_test/*.nc
notebook_test/*.npy
notebook_test/*.npz
notebook_test/*.unf
notebook_test/*.pt
rtmag/paper/fastfl
rtmag/paper/fastflh